ion-card{
    background-color: white;
    color: black;
}

ion-card-subtitle{
    color: midnightblue;
}

ion-card-title{
    color: navy;
}

ion-button{
    --background:navy;
}

ion-toolbar{
    --background:white;
    color: darkblue;
}

ion-content{
    --background:white;
}

ion-item{
    --background:white;
    color: navy;
}

h3{
    margin-top: 20px;
    color: dodgerblue;
}

body{
    background-color: white;
}

.md body {
    --ion-background-color: white;
}

div.alert-radio-label.sc-ion-alert-md{
    color: navy;
}

ul{
    list-style:none;
    margin-left:0;
    padding-left:0;
    }
