<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="administrator-home">RETOUR</ion-back-button>
    </ion-buttons>
    <ion-title>Modification Fiche Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3 align="center">Ouverture de compte</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
        <ion-item>
          <ion-label> Nom : </ion-label>
          <ion-input [(ngModel)]="nom"> </ion-input>
          <br/><br/>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
        <ion-item>
          <ion-label >Prénom : </ion-label>
          <ion-input [(ngModel)]="prenom"> </ion-input>
          <br/><br/>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
        <ion-item>
          <ion-label >E-mail : </ion-label>
          <ion-input [(ngModel)]="mail" >  </ion-input>
          <br/><br/>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
        <ion-item>
          <ion-label >Tel : </ion-label>
          <ion-input [(ngModel)]="phone" > </ion-input>
          <br/><br/>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
            <ion-item>
              <ion-select [(ngModel)]="account" (ionChange)="compteSelected()">
              <ion-select-option value="CLASSIC">CLASSIQUE</ion-select-option>
              <ion-select-option value="OVERDRAFT">DÉCOUVERT</ion-select-option>
              <ion-select-option value="SAVINGS">ÉPARGNE</ion-select-option>
              <br/><br/>
            </ion-select>
            </ion-item>
        </ion-card> 
      </ion-col>
    </ion-row>


<ion-card>
  <ion-card-header>
    <ion-card-title>Affectation d'un agent</ion-card-title>
    <ion-card-subtitle>Sélectionner un agent à affecter pour ce client</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-select [(ngModel)]="agent" (ionChange)="agentSelected()">
            <ion-select-option *ngFor = "let agent of agents" >{{agent.name}}</ion-select-option>
        </ion-select>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

      
    <ion-row>
      <ion-col class="text-align:left"></ion-col>
      <ion-col>
        <ion-button (click)="updateCustomer()"> METTRE À JOUR </ion-button>
      </ion-col>
      <ion-col class="text-align:right"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
