<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="administrator-home">RETOUR</ion-back-button>
    </ion-buttons>
    <ion-title>Liste des Clients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor = "let customer of customers">

    <ion-card-header>
            <ion-card-title>{{customer.firstname}} {{customer.name}}</ion-card-title>
            <ion-card-subtitle>Statut : {{customer.status}}</ion-card-subtitle>
            <ion-card-subtitle>Agent : {{customer.agent}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <br/><br/>      
      <ion-fab horizontal="start" vertical="center" slot="fixed">
        <ion-fab-button color="primary" (click)="details(customer)">
          <ion-icon name="information-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab>  

      <ion-fab horizontal="center" vertical="center" slot="fixed">
        <ion-fab-button color="warning" (click)="update(customer)">
          <ion-icon name="pencil"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
      
      <ion-fab horizontal="end" vertical="center" slot="fixed">
        <ion-fab-button color="danger" (click)="delete(customer)">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
      <br/><br/>
    </ion-card-content>

  </ion-card>

</ion-content>
