<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">RETOUR</ion-back-button>
    </ion-buttons>
    <ion-title>Accéder à mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >

    <ion-row>
      <ion-col>
        <h3 align="center">Connectez-vous !</h3>
        <br/><br/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
          <ion-label><ion-icon name="mail-outline"></ion-icon>  E-mail</ion-label>
          <ion-input [(ngModel)]="email" ></ion-input>
          <br/><br/>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col>
        <ion-card>
        <ion-item>
          <ion-label><ion-icon name="key-outline"></ion-icon>  Mot de passe</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
          <br/><br/>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col class="text-align:left"></ion-col>
      <ion-col>
        <br/><br/>
        <ion-button (click)="connect()"> SE CONNECTER </ion-button>
      </ion-col>
      <ion-col class="text-align:right"></ion-col>
    </ion-row>
      
  </ion-grid>


</ion-content>
