ion-card{
    background-color:lightblue;
    color: black;
}

ion-card-subtitle{
    color: midnightblue;
}

ion-card-title{
    color: navy;
}

ion-button{
    --background:navy;
}

ion-toolbar{
    --background:white;
    color: darkblue;
}

ion-content{
    --background:white;
}

ion-item{
    --background:white;
    color: navy;
}

h3{
    margin-top: 50px;
    color: dodgerblue;
}

