
ion-card{
    background-color:rgb(180, 215, 216);
    color: navy;
}
ion-card-content{
    background-color: white;
    color: navy;
}

ion-card-subtitle{
    color: midnightblue;
}

ion-card-title{
    color: navy;
}

ion-button{
    --background:navy;
}

ion-toolbar{
    --background:white;
    color: darkblue;
}

ion-content{
    --background:white;
}

ion-list{
    background-color: white;
}


h4{
    color: navy;
}