<ion-header>
  <ion-toolbar>
    <ion-title>ACCUEIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenue chez GestiBank</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-grid>
        <ion-row class="ion-align-items-center">

          <ion-col class="ion-text-center">
            <img  width="100px" src = "assets/logo-gestibank.png"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            Notre banque vous accueille en ligne et en agence. Contactez-nous.
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src = "assets/banque-accueil.jpg"/>
    <ion-card-header>
      <ion-card-title>Nouveau client ?</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <br />
      Pas encore de compte chez nous ? Rejoignez-nous vite, pour se faire, inscrivez-vous en cliquant ici 
      <ion-grid>
        <ion-row>
          <ion-col class="text-align:left"></ion-col>
          <ion-col>
            <ion-button color="danger" [routerLink]="['/register']"> S'INSCRIRE </ion-button>
          </ion-col>
          <ion-col class="text-align:right"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Connexion</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <br />
      Vous avez déjà un compte chez nous ? Connectez-vous en cliquant ici 
      <ion-grid>
        <ion-row>
          <ion-col class="text-align:left"></ion-col>
          <ion-col>
            <ion-button [routerLink]="['/connexion']">SE CONNECTER</ion-button>
          </ion-col>
          <ion-col class="text-align:right"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nos services</ion-card-title>
      <ion-card-subtitle>Service : Conversion de devises</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> 
      <br />
      Vous partagez en voyage, vous souhaitez faire un virement dans un pays étranger 
      ou vous désirez simplement connaitre le cours de la monnaie dans un autre pays ? 
      <br /><br /> 
      Rejoignez notre convertisseur de devises,
      <br />
      en cliquant ici :
      <ion-grid>
        <ion-row>
          <ion-col class="text-align:left"></ion-col>
          <ion-col>
            <ion-button [routerLink]="['/converter']">CONVERTISSEUR</ion-button>
          </ion-col>
          <ion-col class="text-align:right"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
